@model IEnumerable<Task.Models.User>

@{
    ViewBag.Title = "User Dashboard";
}

<div class="container mt-4">
    <h2>User List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Address</td>
                    <td>
                        @*Edit Button -> Display the modal*@
                        <button class="btn btn-primary edit-btn" data-id="@user.Id">Edit</button>

                        @*Delete Button for delete the user*@
                        @using (Html.BeginForm("Delete", "User", new { id = user.Id }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="editModalContent"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.edit-btn').click(function () {
                var userId = $(this).data('id');
                $('#editModalContent').load('@Url.Action("Edit", "User")/' + userId, function () {
                    $('#editModal').modal('show');
                });
            });
        });
    </script>
}